*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: conic-gradient(
        from 30deg at 50% 50%,
        rgb(4, 4, 67) 0deg,
        rgb(58, 140, 240)90deg,
        rgb(4, 4, 67) 210deg,
        rgb(58, 140, 240) 300deg,
        rgb(4, 4, 67) 360deg

    );
    transition: background-color 0.6s ease;
}
body.light{
    background: conic-gradient(
        from 30deg at 50% 50%,
        rgb(67, 4, 61)  0deg,
        rgb(240, 58, 237)90deg,
        rgb(67, 4, 61)  210deg,
        rgb(240, 58, 237) 300deg,
        rgb(67, 4, 61) 360deg

    );
}
@keyframes rotateBg {
    to {  transform: rotate(360deg); }
 }
@keyframes sugiu{
    0%{ transform: translateY(0);}
    33%{ transform: translateY(30px);}
    66%{ transform: translateY(-20px);}
    100%{ transform: translateY(0);}
}
@font-face {
    font-family: 'inter';
    src: url(../../../Learning/fonts/InterTight-VariableFont_wght.ttf)
}
@font-face{
    font-family: 'sequel';
    src: url(../../../Learning/fonts/ArchivoBlack-Regular.ttf)
}
@font-face{
    font-family: 'tec';
    src: url(../../../Learning/fonts/BBHBartle-Regular.ttf);
}
@font-face{
    font-family: 'other';
    src: url(../../../Learning/fonts/Sekuya-Regular.ttf);
}
/* .light .center{
    box-shadow: 
    inset 0 0 25px 3px rgb(58, 140, 240);
} */
.center{
    position: relative;
    top: 13%;
    left: 100px;
    width: 650px;
    height: 330px;
    border-radius: 25px;
    overflow: hidden;
}
.center::before{
    content: "";
    position: absolute;
    width: 700px;
    height: 900px;
    top: -85%;
    left: -30px;
    background: conic-gradient(
        from 140deg at 50% 50%,
        transparent 0deg,
        #11fd0d 15deg,
        transparent 90deg,
        transparent 195deg,
        #ff1313 195deg,
        transparent 270deg,
        transparent 375deg
        );
    z-index: -1;
    animation: rotateBg 3s ease-in-out infinite alternate forwards;

}
.light .center::before{
    background: conic-gradient(
        from 140deg at 50% 50%,
        transparent 0deg,
        #ff1313 15deg,
        transparent 90deg,
        transparent 195deg,
        #11fd0d 195deg,
        transparent 270deg,
        transparent 375deg
        );
}
.center::after{
    content: "";
    width: 610px;
    height: 280px;
    position: absolute;
    top: 5px;
    left: 3px;
    padding: 20px 15px;
    border-radius: 25px;
    gap: 20px;
    transition: box-shadow 0.6s, background-color 0.6s;
    background-color: #ff30ff;
    box-shadow: 
    inset 0 0 25px 3px rgb(136, 12, 207);
}
.light .center::after{
    background-color: rgb(58, 140, 240);
}
.image{
    position: absolute;
    top: 18%;
    left: 40%;
    width: 800px;
    filter: drop-shadow(0 15px 40px rgba(0,0,0,10));
    animation: sugiu 3s ease-in-out infinite  forwards;
}
.heading{
    width: fit-content;
    font-family: 'other';
    color: transparent;
    background: linear-gradient(to right , #0A2FFF, #FF2F92);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px black;
    font-size: 35px;
    padding: 13px 7px;
    margin-left: 30px;
    transition: color 0.5s;
    position: relative;
}
.light .heading{
    background: linear-gradient(to right , #FF2F92, #0A2FFF);
    -webkit-background-clip: text;
}
.heading1{
    position: absolute;
    display: flex;
    top: 20px;
    right: 150px;
    gap: 10px;
}
a{
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'inter';
    width: 100px;
    padding: 15px 12px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    top: 0;
    font-weight: bold;
}
a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background: linear-gradient(to right , rgb(240, 58, 237), rgb(6, 152, 243)) ;
    transform: scaleY(0);    
    transform-origin: bottom; 
    transition: transform 0.4s ease;
    z-index: -1;
}
a:link{color: black;}
a:visited{color: black;}
.light a::before{
    background: linear-gradient(to right, rgb(6, 152, 243), rgb(240, 58, 237)) ;
}
a:hover{
    color: white;
}
a:hover::before{
    transform: scaleY(1);
}
.heading2{
    color: white;
    font-size: 60px;
    font-family: 'sequel';
    border-radius: 15px;
    line-height: 4rem;
    margin-left: 15px;
    position: relative;
    top: 20px;
    left: 15px;
    z-index: 1;
}
.heading3{
    color: rgb(240, 58, 237);
    font-family: 'tec';
    margin-left: 15px;
    transition: color 0.6s ;
    -webkit-text-stroke: 1px white;
    position: relative;
    top: 30px;
    left: 15px;
    z-index: 1;
}
.cb{
    position: absolute;
    right: 10px;
    width: 150px;
}
.light .heading3{
    color: rgb(6, 152, 243);
}
.presentation{
    color: rgb(255, 255, 255);
    font-family: 'inter';
    margin-left: 15px;
    font-size: 20px;
    font-weight: 800;
    position: relative;
    top: 40px;
    left: 15px;
    z-index: 1;
}
.icons{
    width: 300px;
    height: 70px;
    position: absolute;
    top: 70%;
    left: 100px;
    display: flex;
    gap: 50px;
}
.icons > .btn1{
    border: 2px solid rgb(240, 58, 237);
    color:rgb(240, 58, 237);
    cursor: pointer;
    font-size: 40px;
    background: transparent;
    padding: 13px 15px;
    border-radius: 49%;
    transform: scale(1);
    transition: transform 0.4s ease 0.1s, color 0.4s ease 0.1s, border 0.4s ease 0.1s;
    
}
.icons>.btn1:hover{
    color: rgb(6, 152, 243);
    border: 2px solid rgb(6, 152, 243);
    transform: scale(1.2);
}
.icons > .btn1:active{
    transform: scale(0.9);
}
.light .icons > .btn1{
    color: rgb(6, 152, 243);
    border: 2px solid rgb(6, 152, 243);
}
.light .icons > .btn1:hover{
    color: rgb(240, 58, 237);
    border: 2px solid rgb(240, 58, 237);
    transform: scale(1.2);
}
.mode{
    width: 50px;
    padding: 9px;
    font-size: 25px;
    position: absolute;
    left: 94%;
    top: 17px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}
.mode:hover{
    transform: scale(1.1);
}
.mode:active{
    transform: scale(0.8) rotate(360deg);
}
.design{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
}